<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>객실 목록</title>
    <link rel="stylesheet" href="css/list_2.css">



</head>
<body>
    <section layout:fragment="content" class="page_form">
        <div class="search_form">
            <div class="left_contents">
                <div class="l_content">
                    <h2>Mega Camping</h2>
                </div>
                <hr>
                <div class="l_content">
                    <input type="text" class="booking-date" name="daterange" value="01/01/2022 - 01/15/2022" />
                    <button type="submit" class="search_btn">search</button>
                </div>
                <hr>
                <div class="l_content detail-info">
                    <img src="images/main/main_14.jpg" class="rep_img">
                    <hr>
                    <a href="https://map.naver.com/v5/entry/place/1654161574?c=14130851.9229325,4516849.6538616,18,0,0,0,dh">
                        <i class="fa-solid fa-location-dot" style="margin:0 5px;"></i>
                        <label class="camp_address">서울 마포구 신촌로 128</label>
                    </a>
                    <hr>
                    <div class="detail_content">
                        <label>※ 공지사항 ※</label>
                        <p>입실시간 : 15:00 ~ 18:00<br>
                            퇴실시간 : 11:00</p>
                        <p>문의 전화 010-1111-5046</p>
                        <p>※ 개인사정 및 우천으로 인한 날짜변경은 안되며, 환불규정에 의해 처리됩니다.
                            ※ 예약 취소는 환불규정에 의해 처리됩니다.</p>
                    </div>
                </div>
            </div>


            <div class="right_contents">
                <div class="content_head">
                    <label>#캠핑 #글램핑 #카라반 #산 #바다 #계곡 #도심 #강남</label>
                    <button type="button">가격 높은순 / 낮은순</button>
                </div>
                <div class="r_content">
                    <table onclick="goRoomSearch()">
                        <tr>
                            <td rowspan="3" class="td_img"><img src="images/main/main_7.jpg"></td>
                            <td class="content_item td_name">바다가 눈이부셔 눈이머는 방</td>
                            <td rowspan="2" class="content_item td_price">1박 <span>150,000</span></td>
                        </tr>
                        <tr>
                            <td class="content_item td_hashtag">
                                <label>#캠핑 #글램핑 #카라반</label>
                                <label>#바다</label>
                                <label>#마포</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="content_item td_detail" colspan="2" style="padding-right: 20px; padding-bottom: 5px;">
                                국내 최대 규모 캠핑장 MEGA CAMPING 입니다.국내 최대 규모 캠핑장 MEGA CAMPING 입니다.국내 최대 규모 캠핑장 MEGA CAMPING 입니다.
                            </td>
                        </tr>
                    </table>

                    <!-- TEST TABLE -->
                    <table onclick="goRoomSearch()">
                        <tr>
                            <td rowspan="3" class="td_img"><img src="images/main/main_6.jpg"></td>
                            <td class="content_item td_name">감성에 취해 꽐라되는 방</td>
                            <td rowspan="2" class="content_item td_price">1박 <span>100,000</span></td>
                        </tr>
                        <tr>
                            <td class="content_item td_hashtag">
                                <label>#캠핑 #글램핑 #카라반</label>
                                <label>#도심</label>
                                <label>#구로</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="content_item td_detail" colspan="2" style="padding-right: 20px; padding-bottom: 5px;">
                                국내 최대 규모 캠핑장 MEGA CAMPING 입니다.국내 최대 규모 캠핑장 MEGA CAMPING 입니다.국내 최대 규모 캠핑장 MEGA CAMPING 입니다.
                            </td>
                        </tr>
                    </table>

                    <table onclick="goRoomSearch()">
                        <tr>
                            <td rowspan="3" class="td_img"><img src="images/main/main_8.jpg"></td>
                            <td class="content_item td_name">모기가 많아 피빨리는 방</td>
                            <td rowspan="2" class="content_item td_price">1박 <span>90,000</span></td>
                        </tr>
                        <tr>
                            <td class="content_item td_hashtag">
                                <label>#캠핑 #글램핑</label>
                                <label>#산</label>
                                <label>#구로</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="content_item td_detail" colspan="2" style="padding-right: 20px; padding-bottom: 5px;">
                                국내 최대 규모 캠핑장 MEGA CAMPING 입니다.국내 최대 규모 캠핑장 MEGA CAMPING 입니다.국내 최대 규모 캠핑장 MEGA CAMPING 입니다.
                            </td>
                        </tr>
                    </table>

                    <table onclick="goRoomSearch()">
                        <tr>
                            <td rowspan="3" class="td_img"><img src="images/main/main_9.jpeg"></td>
                            <td class="content_item td_name">둘이 들어가 셋이 되는 방</td>
                            <td rowspan="2" class="content_item td_price">1박 <span>90,000</span></td>
                        </tr>
                        <tr>
                            <td class="content_item td_hashtag">
                                <label>#캠핑</label>
                                <label>#계곡</label>
                                <label>#은평</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="content_item td_detail" colspan="2" style="padding-right: 20px; padding-bottom: 5px;">
                                국내 최대 규모 캠핑장 MEGA CAMPING 입니다.국내 최대 규모 캠핑장 MEGA CAMPING 입니다.국내 최대 규모 캠핑장 MEGA CAMPING 입니다.
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </section>
</body>
</html>