<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="main.js" defer></script>
    <title>Nav Bar</title>
<!--    <script src="https://kit.fontawesome.com/2d323a629b.js"></script>-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com" />-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap"-->
<!--            rel="stylesheet"/>-->

    <style>

    </style>


</head>
<header>
<div th:fragment="header" class="header"  style="position:-webkit-sticky;position:sticky;top:0;z-index:1000; background-color: #fff">
    <nav class="navbar" style="border-bottom: 1px solid silver;">
        <div class="navbar__logo">
            <a href="/">
                <img class="logo_img"  src="../images/header/AMOR_CAMP_logo.png" >
            </a>
        </div>

        <button class="login_btn" onclick="location.href='/login'" sec:authorize="isAnonymous()" >로그인 </button>

<!-- 일반 고객 -->
        <div class="user_profile" sec:authorize="hasAnyAuthority('ROLE_USER')">
            <div class="nav-item dropdown">
                <a class="profile-img" data-toggle="dropdown">
                    <img style="width: 65px; height: 65px;" src="../images/header/profile1.png" class="avatar" alt="Avatar" >
                </a>
                <div class="nav-item dropdown">
                    <div class="dropdown-menu" style="margin-top: 16px;">
                        <a href="/myInfo" class="dropdown-item">내 정보</a>
                        <a href="#" class="dropdown-item">내 예약</a>
                        <a href="#" class="dropdown-item">찜 리스트</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/member/logout" sec:authorize="isAuthenticated()">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 호스트 -->
        <div class="host_profile" sec:authorize="hasAnyAuthority('ROLE_HOST')">
            <div class="nav-item dropdown" >
                <a class="profile-img" data-toggle="dropdown">
                    <img style="width: 65px; height: 65px;" src="../images/header/profile1.png" class="avatar" alt="Avatar" >
                </a>
                <div class="nav-item dropdown">
                    <div class="dropdown-menu" style="margin-top: 16px;">
                        <a href="/myInfo" class="dropdown-item">내 정보</a>
                        <a href="/addCamp" class="dropdown-item">캠핑장 등록</a>
                        <a href="/addRoom" class="dropdown-item">객실 등록</a>
                        <a href="#" class="dropdown-item">예약 내역</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/member/logout" sec:authorize="isAuthenticated()">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 관리자 -->
<!--        <div>-->
<!--            <div class="nav-item dropdown" >-->
<!--                <a class="profile-img" data-toggle="dropdown">-->
<!--                    <img style="width: 65px; height: 65px;" src="../images/header/profile1.png" class="avatar" alt="Avatar" >-->
<!--                </a>-->
<!--                <div class="nav-item dropdown">-->
<!--                    <div class="dropdown-menu" style="margin-top: 16px;">-->
<!--                        <a href="#" class="dropdown-item">캠핑장 승인목록</a>-->
<!--                        <div class="dropdown-divider"></div>-->
<!--                        <a href="#" class="dropdown-item">로그아웃</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </nav>
</div>
</header>
</html>